/* Google font CDN */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
}

.bgcol-punch {
    background-color: rgba(255, 144, 14, 0.1);
}

.col-punch {
    color: #FF900E;
}

.col-dark1 {
    color: #131313;
}

.col-dark2 {
    color: #424242;
}

.global-width {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-punch {
    background-color: #FF900E;
    color: white;
    padding: 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
}

.section-title {
    font-weight: 700;
    font-size: 2.8125rem;
    color: #131313;
}

.section-copy {
    font-weight: 400;
    font-size: 1rem;
    color: #727272;
    line-height: 1.625rem;
}

.text-center {
    text-align: center;
}

.img-go-gray {
    filter: grayscale(100%)
}

/* header area */

/* navigation bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 102px;
}

.nav-title {
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* hero section */
.hero-sect {
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 85px;
}

.hero-contents {
    max-width: 862px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.6875rem;
    text-align: center;
    margin-bottom: 20px;
}

.hero-copy {
    text-align: center;
    margin-bottom: 32px;
}

.hero-img {
    margin-top: 50px;
    width: 100%;
    border-radius: 8px;
}

/* quick list of our features section */
.team-features-sect {
    display: flex;
    justify-content: space-around;
    gap: 76px;
    padding: 0 85px;
    margin-bottom: 130px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-images img {
    max-width: 342px;
    max-height: 342px;
    border-radius: 8px;
}

.team-ttl-split-1 {
    font-weight: 500;
    color: #727272;
}

.team-ttl-split-3 {
    color: #FF900E;
}

.team-copy {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* feature you will love and enjoy  */
.feat-lovenjoy-sect {
    display: flex;
    gap: 146px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.feat-header {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feat-copy {
    margin-top: 24px;
    margin-bottom: 60px;
}

.feat-left-block {
    max-width: 50%;
}

.feat-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feat-card-head {
    color: #131313;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.feat-card {
    padding: 30px;
}

.feat-right-block img {
    width: 100%;
}

.feat-badge-btn {
    margin-left: -92px;
    margin-top: -133px;
    padding: 45px;
}

.feat-btn-split-1 {
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 4.375rem;
}

.feat-btn-split-2 {
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 2.5rem;
}

/* some facts section */

.facts-copy {
    margin-top: 24px;
    margin-bottom: 100px;
}

.factbox-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 180px;
}

.factbox {
    border: 1px inset #FF900E;
    border-radius: 8px;
    padding: 60px;
    /* min-width: 200px;
    min-height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fact-val {
    color: #424242;
    font-weight: 600;
    font-size: 2.8125rem;
    line-height: 3.3125rem;
    padding: 0 10px;
    margin-bottom: 10px;
}

.fact-desc {
    color: #727272;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4375rem;
}

/* our sponsor section */

.sponsor-copy {
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsor-wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sponsor-wrapper img {
    height: 50px;
}

/* footer section */
.footer-sect {
    text-align: center;
    margin-top: 30;
    margin-bottom: 100;
    border-radius: 8px;
    padding: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-copy {
    color: #424242;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4375rem;
}

/* ================================== */
@media screen and (max-width: 576px) {
    .nav-bar {
        flex-direction: column;
    }

    .team-features-sect {
        flex-direction: column;
        padding: 0;
    }

    .team-images {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .team-contents {
        text-align: center;
    }

    .feat-lovenjoy-sect {
        flex-direction: column;
    }

    .feat-left-block {
        max-width: 100%;
    }

    .feat-card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .feat-right-block {
        text-align: center;
    }

    .feat-badge-btn {
        margin-left: 0px;
        margin-top: -100px;
    }

    .factbox-wrapper {
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .facts-contents {
        text-align: center;
    }

    .sponsor-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* ================================== */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-features-sect {
        flex-direction: column;
    }

    .team-contents {
        text-align: center;
    }

    .feat-lovenjoy-sect {
        flex-direction: column;
    }

    .feat-left-block {
        max-width: 100%;
    }

    .feat-card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .feat-right-block {
        text-align: center;
    }

    .feat-badge-btn {
        margin-left: 0px;
        margin-top: -100px;
    }

    .factbox-wrapper {
        flex-wrap: wrap;
    }

    .sponsor-wrapper {
        justify-content: center;
        flex-wrap: wrap;

    }
}